.content {
    padding: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background-color: white;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #45a049;
    border-radius: 5px;
    color: black;
  }
  
  .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  