.main {
  position: absolute;
  background-color: #77ce89;
  display: flex;
  align-items: center;
  height: 230px;
  width: 100%;
  overflow: hidden;
  /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
}

.description {
  padding: 60px;
  padding-left: 130px;
  justify-content: center;
  align-items: center;
}

.description ul li {
  list-style: none;
  font-weight: 400;
}

.description ul li a {
  text-decoration: none;
  color: black;
  padding: 0.2rem;
  margin: 0;
  border-radius: 0.5rem;
}
