.tasks-table {
  width: 100%;
  border-collapse: collapse;
}

.tasks-table th,
.tasks-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tasks-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tasks-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tasks-table tbody tr:hover {
  background-color: #e6f7ff;
}

.tasks-table select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.tasks-table option {
  margin-left: 8px;
  padding: 8px 12px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tasks-table option:hover {
  background-color: #0056b3;
}

.tasks-table select.value-accepted {
  background-color: #16a34a;
}
.tasks-table select.value-pending {
  background-color: #eab308;
}
